In [5]:
import pandas as pd

In [22]:
new_df = pd.read_csv(".devcontainer/new_cars_prices.csv")
used_df = pd.read_csv(".devcontainer/used_car_prices.csv")

print(new_df.head())
print("\nSecond dataset\n")
print(used_df.head())

  web-scraper-order                         Car Model       Old Price  \
0      1680210890-1  Porsche Cayenne A/T / Coupe 2020  2,262,876\nEGP
1      1680210890-2  Porsche Cayenne A/T / Coupe 2020  2,078,727\nEGP
2      1680210890-3      Porsche Cayenne A/T / S 2020  2,388,000\nEGP
3      1680210890-4      Porsche Cayenne A/T / S 2020  2,262,876\nEGP
4      1680210890-5        Lexus LX 570 Automtic 2020  5,600,000\nEGP

                   Price Change       New Price  date_range
0   trending_down\n-82,876\nEGP  2,180,000\nEGP  18/11/2020
1    trending_up\n+184,149\nEGP  2,262,876\nEGP  14/10/2019
2   trending_down\n-93,000\nEGP  2,295,000\nEGP  18/11/2020
3    trending_up\n+125,124\nEGP  2,388,000\nEGP  15/10/2019
4  trending_down\n-350,000\nEGP  5,250,000\nEGP  18/05/2020

Second dataset

  web-scraper-order              Car Model Month/Year Average price  \
0      1680204632-1  Skoda Octavia A8 2022    2023-03   967,000 EGP
1      1680204632-2  Skoda Octavia A8 2022    2023-02   979,000 EGP
2      1680204632-3  Skoda Octavia A8 2022    2023-01   917,000 EGP
3      1680204632-4  Skoda Octavia A8 2022    2022-12   881,000 EGP
4      1680204632-5  Skoda Octavia A8 2022    2022-11   868,000 EGP

  Minimum price  Maximum price
0   926,000 EGP  1,017,000 EGP
1   931,000 EGP  1,045,000 EGP
2   893,000 EGP    950,000 EGP
3   793,000 EGP    950,000 EGP
4   789,000 EGP    950,000 EGP

In [13]:
print(new_df.shape)
print(used_df.shape)

(3433, 6)
(79090, 6)

In [23]:
print(new_df.info())
print(used_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3433 entries, 0 to 3432
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   web-scraper-order  3433 non-null   object
 1   Car Model          3433 non-null   object
 2   Old Price          3433 non-null   object
 3   Price Change       3433 non-null   object
 4   New Price          3433 non-null   object
 5   date_range         3433 non-null   object
dtypes: object(6)
memory usage: 161.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79090 entries, 0 to 79089
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   web-scraper-order  79090 non-null  object
 1   Car Model          79090 non-null  object
 2   Month/Year         78612 non-null  object
 3   Average price      78612 non-null  object
 4   Minimum price      78612 non-null  object
 5   Maximum price      78612 non-null  object
dtypes: object(6)
memory usage: 3.6+ MB
None

In [24]:
new_df.drop('web-scraper-order', axis=1, inplace=True)
used_df.drop('web-scraper-order', axis=1, inplace=True)

In [26]:
print(new_df.columns)
print(used_df.columns)

Index(['Car Model', 'Old Price', 'Price Change', 'New Price', 'date_range'], dtype='object')
Index(['Car Model', 'Month/Year', 'Average price', 'Minimum price',
       'Maximum price'],
      dtype='object')

Index(['web-scraper-order', 'Car Model', 'Month/Year', 'Average price',
       'Minimum price', 'Maximum price'],
      dtype='object')